<h1>{{name}}'s Log Database</h1>

<div class="row">
    <div class="col-md-12">
        {{currentStreakCounter}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{currentStreakCounter}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{currentStreakCounter}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{currentStreakCounter}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{currentStreakCounter}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{currentStreakCounter}}
    </div>
</div>
    <div class="col-md-4">
        {{savings}}
    </div>
    <div class="col-md-4">
        {{workoutCost}}
    </div>





currentStreakCounter: { type: Number },
savings: { type: Number },
workoutCost: { type: Number },
date: Date,
bonusStreakAdded: { type: Number }