<div>
    <div class="row log-row">
            <div class="col-md-12  log-header text-center">
                <h1 class="log-header">{{name}}'s Log Database</h1>
            </div>
    </div>  

    <div ng-repeat="log in logs">
        <div class="row log-row">
            <div class="col-md-12 date text-center">
                Log Entry for {{log.date | date}}
            </div>
        </div>

        <div class="row log-row">
            <div class="col-md-6 workoutCost text-center">
            Each completed workout nets {{log.workoutCost | currency}} to the savings account.
            </div>
            <div class="col-md-6 currentStreak text-center">
            Your current streak is at {{log.currentStreakCounter}} days.
            </div>
        </div>
        <div class="row log-row">
            <div class="col-md-6 savings text-center">
                You have saved {{log.savings | currency}} from completed exercises.
            </div>
        
            <div class="col-md-6 bonusStreakAdded text-center">
                By the way, with this log you add a bonus of  {{log.bonusStreakAdded | currency}} because you hit your goals.
            </div>
        </div>
    </div>
</div>