<!-- Stats, Goals, Progress -->
<div class="row">
    <div class="col-md-4">
        {{successionCounter}}
    </div>
    <div class="col-md-4">
        {{goal}}
    </div>
    <div class="col-md-4">
        {{progress}}
    </div>
</div>

<!-- Motivational Quote -->
<div class="row">
    {{quote}}
</div>

<!-- WorkOut Button -->
<div>
    <!-- Date & Time -->
    <div class="row">
        Date Time
    </div>
    <!-- Button -->
    <div class="row">
        <input type="button" class="btn btn-success" value="I Worked Out!" ng-click="workedOut()">
    </div>
</div>