<!-- Stats, Goals, Progress -->
<div class="row profile-row">
        <div class="col-md-12 text-center">
             <h3>Do you like your current goal or you want to keep climbing?</h3>
        </div>

</div>

<div class="row profile-row">
        <div class="col-md-12 text-center goal">
            My current goal is to workout {{goal}}
        </div>
</div>

<div class="row profile-row">
    <div class="col-md-6 text-center successionCounter">
        I have succeded {{successionCounter}} times in a row!
    </div>
    
    <div class="col-md-6 text-center my-progress">
        My total savings are: {{savings | currency}}. 
        <br>I have collected {{progress}} of my reward.
    </div>
</div>

<!-- Motivational Quote -->

<div class="row profile-row">
        <div class="col-md-12 text-center quote">
    {{quote}}
    </div>
</div>

    <!-- Date & Time -->
    <div class="row profile-row">
        <div class="col-md-12 text-center">
            <span class="date-select">Select Your Workout Date: </span>
            <span><input type="datetime-local" ng-model="date"></span>
        </div>
    </div>

    <!-- Button -->
    <div class="row profile-row">
        <div class="col-md-12 text-center">
            <input type="button" class="btn btn-success workout-button" value="I Worked Out!" ng-click="workedOut()">
        </div>
    </div>
</div>

