<div id="settings-page">
    <div class="row settings-row">
        <span>$ Amount to add to savings</span>
        <input type="number" ng-model="newWorkoutCost">
    </div>
    <div class="row settings-row">
        <span>What is your frequency goal?</span>
        <input type="number" placeholder="frequency #" class="text-center" ng-model="newGoalFrequency">
        <select placeholder="per day or per week" class="text-center" ng-model="newGoalIntervalSetting">
                <option value="week">Week</option>
        </select>
    </div>
    <div class="row settings-row">
        <span>Every </span>
        <input type="number" ng-model="newStreakTarget">
        <span> times in a row that I reach my goal, I will add a bonus of </span>
        <input type="number" ng-model="newBonusAmt">
        <span> toward my workout savings.</span>
    </div>
    <div class="row settings-row">
        My target gift price:
        <input type="number" ng-model="newTargetGiftPrice">
    </div>
    <div class="row settings-row">
        Credit Card Info
    </div>
    <div class="row settings-row">
        <input type="button" value="Save" ng-click="updateSettings()">
    </div>
</div>