<div id="settings-page">
    <div class="row">
        <span>$ Amount to add to savings</span>
        <input type="text">
    </div>
    <div class="row">
        <span>What is your frequency goal?</span>
        <input type="number">
        <input type="text">
    </div>
    <div class="row">
        <span>Every </span>
        <input type="number">
        <span> times in a row that I reach my goal, I will add a bonus of </span>
        <input type="number">
        <span> toward my workout savings.</span>
    </div>
    <div class="row">
        My target gift price:
        <input type="number">
    </div>
    <div class="row">
        Credit Card Info
    </div>
</div>