<div id="settings-page">
    <div class="row settings-row">
        <span>$ Amount to add to savings</span>
        <input type="text">
    </div>
    <div class="row settings-row">
        <span>What is your frequency goal?</span>
        <input type="number"  placeholder="frequency #" class="text-center">
        <input  type="text" placeholder="per day or per week" class="text-center">
    </div>
    <div class="row settings-row">
        <span>Every </span>
        <input type="number">
        <span> times in a row that I reach my goal, I will add a bonus of </span>
        <input type="number">
        <span> toward my workout savings.</span>
    </div>
    <div class="row settings-row">
        My target gift price:
        <input type="number">
    </div>
    <div class="row settings-row">
        Credit Card Info
    </div>
</div>