* {
    box-sizing: border-box;
    /* border: solid 1px red; */
}

body {
    padding-top: 70px;
  }

.row {
    margin-bottom: 20px;
}

.settings-row {
    margin-left: 10px;
}

 .log-header {
    font-size: 50px;
    margin-bottom: 20px;
            }

.date {
font-size: 36px;
margin-bottom: 50px;
    }

.date-select {
    margin-right: 5px;
}

.workout-button {
    height: 100px;
    width: 300px;
}